.bio {
  grid-column: 1 / -1;

  &__data {
    flex: 1;
  }

  &__heading {
    color: #0b132a;
    font-size: 5rem;
    font-weight: var(--font-weight-medium);
    line-height: 70px; /* 140% */
  }

  &__img {
    flex: 1;
  }
}
