.customer {
  margin-top: 12.416rem;
  .container {
    flex-direction: column;
    text-align: center;
    .customer__objective {
      margin-top: 2rem;
    }
    .customer__cards--wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 12rem;
      .card {
        text-align: left;
        min-width: 40rem;
        height: 23rem;
        padding: 3rem;
        margin-right: 5rem;
        border: 2px solid var(--color-border);
        border-radius: var(--default-radius);
        transition: var(--transition-timing);
        &__top {
          display: flex;
          align-items: center;
          height: 5rem;
        }
        &--img {
          margin-right: 2rem;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        &--name--wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: auto;
          .card--name {
            color: var(--color-darker-blue);
            font-size: var(--font-size-18);
            font-weight: var(--font-weight-medium);
          }
          .card--country {
            margin-bottom: 0.65rem;
            font-size: var(--font-size-14);
            margin-top: -1rem;
            margin-bottom: -0.2rem;
          }
        }
        .card--rate::after {
          content: url("../img/card-star-icon.svg");
          display: inline-block;
          margin-left: 1rem;
          width: 1.6rem;
          height: 1.6rem;
        }
        .card--discription {
          margin-top: 0.7rem;
          color: var(--color-darker-blue);
        }
      }
      .card:last-child {
        margin-right: 0;
      }
      .card:first-child {
        border: 2px solid var(--color-raspberry-button);
      }
      .card:first-child:hover,
      .card:hover {
        scale: 1.01;
        border: 2px solid var(--color-custom-shadow);
      }
    }

    .cards-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 6rem;
      .bullets {
        display: flex;
        column-gap: 1.5rem;
        .bullet {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          background-color: var(--color-bullet-background);
          cursor: pointer;
          transition: var(--transition-timing);
          &:first-child {
            width: 5rem;
            border-radius: 1.5rem;
            background-color: var(--color-raspberry-button);
          }
          &:hover {
            scale: 1.1;
            background: var(--color-darker-blue);
          }
        }
      }
      .btn-wrapper {
        height: 6rem;
        .btn {
          display: inline-block;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          cursor: pointer;
          filter: drop-shadow(0px 14px 44px rgba(14, 20, 34, 0.08));
          transition: var(--transition-timing);
          &:hover {
            scale: 1.11;
          }
        }
        .btn-left {
          background: url("../img/left-button-icon.svg");
          margin-inline-end: 2rem;
        }
        .btn-right {
          margin-inline-start: -0.31rem;
          border: 2px solid var(--color-raspberry-button);
          background: url("../img/right-button-icon.svg") no-repeat center;
          background-color: var(--color-raspberry-button);
        }
      }
    }
  }
}
