.container {
  display: flex;
  flex-direction: column;
  row-gap: 50px; /*noteeeeeeeeeeeeeeeeeeeeee*/
  max-width: var(--container-width);
  padding: 0 var(--default-padding);
  margin: 0 auto;
  background-color: var(--color-background);
}

.section {
  display: flex;
  align-items: center;
  column-gap: 30px; /*noteeeeeeeeeeeeeeeeeeeeee*/
}
