.container {
  display: flex;
  flex-direction: column;
  // row-gap: 50px; /*noteeeeeeeeeeeeeeeeeeeeee*/
  max-width: var(--container-width);
  padding: 0 var(--default-padding);
  margin: 0 auto;
  background-color: var(--color-background);
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // column-gap: 30px; /*noteeeeeeeeeeeeeeeeeeeeee*/

  &__heading {
    font-size: 3.5rem;
    font-weight: var(--font-weight-medium);
    line-height: 5rem;
    color: var(--color-darker-blue);
  }
}

.button {
  width: 25rem;
  height: 6rem;
  border-radius: var(--default-radius);
  background: var(--color-raspberry-button);
  box-shadow: 0 2rem 4rem rgba(245, 56, 56, 0.35);
  cursor: pointer;
}
