.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;

  & .logoContent {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: var(--font-weight-medium);
    color: var(--color-darker-blue);

    &__logo {
      width: 3.5rem;
      height: 3.6232rem;
    }
    &__text {
      font-weight: var(--font-weight-bold);
    }
  }

  & .navigation__list {
    display: flex;
    gap: 4rem;
    transition: var(--transition-timing);
  }

  & .navigation__link:hover {
    color: var(--color-raspberry-button);
    text-decoration: underline;
  }

  & .header__signs {
    display: flex;
    align-items: center;
    gap: 3rem;
    transition: var(--transition-timing);

    &--in {
      color: var(--color-darker-blue);
      font-weight: var(--font-weight-medium);
      &:hover {
        color: var(--color-raspberry-sorbet);
      }
    }

    &--up {
      padding: 0.65rem 4.44rem;
      font-weight: var(--font-weight-medium);
      color: var(--color-raspberry-sorbet);
      border: 1px solid var(--color-raspberry-sorbet);
      border-radius: 50px;
    }

    &--up:hover {
      background-color: var(--color-raspberry-button);
      color: var(--color-white);
    }
  }

  .burger-menu__checkbox,
  .burger-menu {
    display: none;
  }
}
