.plans {
  flex-direction: column;
  text-align: center;
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );

  &__heading {
    margin: 8.027rem 8.508rem 2rem;
  }

  &__objective {
    margin-bottom: 6rem;
  }

  &__cards--wrapper {
    display: flex;
    column-gap: 5rem;

    .card {
      width: 33rem;
      height: 76rem;
      border: 2px solid #ddd;
      border-radius: var(--default-radius);
      background: var(--color-white);
    }

    .card:nth-child(3) {
      border: 2px solid #f53838;
    }
  }
}
