@media (max-width: 1250px) and (min-width: 600px) {
  .header .navigation__list,
  .header .header__signs {
    gap: 2rem;
  }

  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 600px) {
  .header .navigation__list,
  .header .header__signs {
    gap: 0.8rem;
  }
}

/* Tablet responsiveness implementation */
@media (max-width: 992px) {
  html {
    font-size: 50%;
  }
  .container {
    padding: 0 var(--default-responsive-padding);
  }

  /* Header section*/
  .header {
    padding: 2rem 0;
    border-bottom: 0.01rem solid var(--color-darker-blue);
    font-size: var(--font-size-14);
    .burger-menu {
      display: flex;
      flex-direction: column;
      align-self: center;
      gap: 0.5rem;
      cursor: pointer;
    }
    .burger-menu__bar {
      width: 3rem;
      height: 0.4rem;
      background-color: var(--color-darker-blue);
      transition: var(--transition-timing);
      border-radius: var(--default-radius);
    }
    .navigation,
    .header__signs {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 1.2rem var(--default-responsive-padding);
      border-bottom: 0.1rem solid var(--color-raspberry-button);
      background-color: var(--color-darker-blue);
      transition: var(--transition-timing);
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      opacity: 0;
    }
    .header__signs {
      justify-content: flex-end;
      color: var(--color-white);
      border: 0;
      &--in,
      &--up {
        color: inherit;
      }
      &--up {
        padding: 0 1.45rem;
      }
    }

    &:has(.burger-menu__checkbox:checked) {
      .burger-menu__bar {
        &:nth-child(1) {
          transform: translateY(10px) rotate(40deg);
        }
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
        &:nth-child(3) {
          transform: translateY(-4px) rotate(-40deg);
        }
      }
      .navigation,
      .header__signs {
        position: absolute;
        color: var(--color-white);
        top: 7.6rem;
        opacity: 1;
      }
      .header__signs {
        // These are the rules for links to work properly
        background-color: transparent;
        width: 40%;
        transform: translateX(24.3%);
      }
    }
  }

  /* About section*/
  .about {
    margin-top: 8.5rem;
    .container {
      .about__data {
        display: flex;
        flex-direction: column;
        flex: 1;
        .about__heading {
          font-size: 4rem;
          line-height: 4.75rem;
          &--bold {
            font-weight: var(--font-weight-semi-bold);
          }
        }
        .about__objective {
          margin: 2rem 0;
          line-height: calc(var(--line-height-main) / 1.4);
          &--bold {
            font-weight: var(--font-weight-medium);
          }
        }
      }
      .about__imgContent {
        height: auto;
      }
    }
  }

  // Numbers section
  .numbers {
    margin-top: 7.3rem;
    .container {
      .numbers__wrapper {
        padding: 3.72rem 5rem;
      }
    }
  }

  // Features section
  .features {
    .container {
      .features__imgContent {
        padding: 0 2rem;
      }
      .features__data {
        padding-left: 2rem;
      }
    }
  }

  // Network section
  .network {
    .container {
      .network__img {
        margin-top: 15.581rem;
        max-width: 100%;
        padding: 1rem;
      }
      .network__footer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
      }
    }
  }
}

/* Mobile responsiveness implementation */
@media (max-width: 680px) {
  html {
    font-size: 43.75%;
  }
  .section {
    text-align: center;
  }
  .container {
    flex-direction: column;
  }

  // Header section
  .header {
    .container {
      flex-direction: row;
    }
    &:has(.burger-menu__checkbox:checked) {
      .burger-menu__bar {
        &:nth-child(1) {
          transform: translateY(9px) rotate(40deg);
        }
        &:nth-child(3) {
          transform: translateY(-4.2px) rotate(-40deg);
        }
      }
    }
  }

  // About section
  .about {
    margin-top: 7rem;
    .container {
      .about__data {
        align-items: center;
      }
      .about__heading {
        margin-top: 4.25rem;
      }
      .about__objective {
        margin: 2.125rem 0 4.125rem 0;
      }
      .about__imgContent {
        max-width: 100%;
        padding: 0 2rem;
        order: -1;
      }
    }
  }

  // Numbers section
  .numbers {
    margin-top: 1;
    .container {
      margin: 4rem auto 0;
      .numbers__wrapper {
        height: 10rem;
        max-width: 90%;
        padding: 1.5rem 2rem;
        flex-direction: row;
        text-align: left;
        justify-content: space-around;
        align-items: center;
        overflow-x: auto;
        gap: 0.5rem;
        .numbers__columns {
          line-height: normal;
          &--img {
            margin-right: 1.5rem;
            width: 3.3rem;
            height: 3.3rem;
          }
          &--label {
            font-size: 1.5rem;
          }
          &--value {
            font-size: 1.8rem;
            font-weight: var(--font-weight-medium);
          }
        }
        .separator {
          width: 0.567px;
          height: 22.683px;
        }
      }
    }
  }

  // Features section
  .features {
    margin-top: 8rem;
    .container {
      align-items: center;
      .features__imgContent {
        padding: 0 2rem;
      }
      .features__data {
        .section__heading {
          margin: 4rem 0 1.4rem;
        }
        .features__objective {
          margin: 1rem 0;
        }
        .features__list {
          text-align: left;
          li::before {
            top: 1.25rem;
          }
        }
      }
    }
  }

  // Plans section
  .plans {
    .container {
      .section__heading {
        margin-top: 4.5rem;
      }
      .plans__objective {
        margin-bottom: 3rem;
      }
      .plans__cards--wrapper {
        .card-features {
          margin-left: 5.2rem;
        }
        .card-image {
          margin-top: 5rem;
        }
      }
      h3 {
        margin: 1rem 0;
      }
    }
  }

  // Network section
  .network {
    margin-top: 10rem;
    .container {
      .network__img {
        margin-top: 2rem;
        height: 100%;
      }
      .network__footer {
        margin-top: 1rem;
        &--img {
          width: 80px;
          height: auto;
        }
        &--img > img:hover {
          filter: brightness(60%);
        }
      }
    }
  }

  // Customer section
  .customer {
    margin-top: 4rem;
    .container {
      .customer__cards--wrapper {
        margin-top: 6rem;
      }
      .cards-bottom {
        .btn-wrapper {
          height: 4.5rem;
          .btn {
            width: 30px;
            height: 30px;
          }
          .btn-left {
            background: url("../img/left-button-icon-mobile.svg") no-repeat
              center;
            margin-inline-end: 1rem;
          }
          .btn-right {
            border: 0;
            background: url("../img/right-button-icon-mobile.svg") no-repeat
              center;
          }
        }
      }
    }
  }

  // Subscribe section
  .subscribe {
    .container {
      .subscribe__wrapper {
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: 2rem auto;
        line-height: normal;
        gap: 5rem;
        .subscribe__heading {
          height: auto;
        }
      }
    }
  }

  // footer
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
    flex-wrap: wrap;
    row-gap: 5rem;
    height: max-content;
    padding-bottom: 2rem;
    font-size: 1.3rem;

    &::before {
      top: -21.5rem;
    }

    &__content {
      order: 1;
      margin-inline-end: 0;

      &-logo {
        width: 100px;
        height: 20px;

        & > img {
          width: 100%;
        }
      }

      &-description {
        line-height: 2rem;
      }
    }

    &__social-media {
      margin: 1rem 0;
    }

    &__social-media-link {
      width: 25px;
      height: 25px;
    }

    &__social-media > a {
      margin-inline-end: 1rem;
    }

    &__copyright {
      margin: 0;
      text-align: left;
    }

    &__links {
      text-align: left;

      &:nth-child(2) {
        margin-left: 0;
      }

      &-list {
        margin-top: 1rem;
      }
    }
  }
}

/* NOTE: Next media queries addressed design issues because there is no mobile version and no clear pattern across sections in the overall design. */
@media (min-width: 250px) and (max-width: 1139px) {
  .plans {
    &__cards--wrapper {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.5rem;
    }
  }
}

@media (min-width: 250px) and (max-width: 1430px) {
  .about {
    .about__img {
      position: relative;
    }
  }
  .features__img {
    margin: 0;
  }

  // Customer section
  .customer {
    .container {
      .customer__cards--wrapper {
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-gutter: stable both-edges;
        scrollbar-color: var(--color-raspberry-button) var(--color-darker-blue);
        scroll-behavior: smooth;
        padding: 0.2rem 0.2rem 2rem;
      }
    }
  }
}

/* Next rules for small device styling in the footer */
@media (max-width: 482px) and (min-width: 250px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// Next rules for about button in small devices
@media (max-width: 400px) {
  .about .button {
    width: 100%;
  }
}

/* Hide header signs on devices <= 355px */
@media (max-width: 326px) {
  .header .header__signs {
    display: none;
  }

  .header .navigation {
    display: flex;
    justify-content: center;
  }
}
